.navbar {
	color: white;
	background-color: blue;
	width: 100%;
	height: 80px;
}

.navbarContent {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 1200px;
}

.navbarTitulo {
	width: 80%;
	text-align: center;
}

.navbarBotao {
	width: 10%;
	margin: auto;
}

.menu {
	background-color: gray;
	position:relative;
	margin: auto;
	top: -8px;
	width: 1200px;
}